@charset "utf-8";
/* CSS Document */

/*-------------------------------------------------*/
/* SOCIAL MEDIA SHARE 
/*-------------------------------------------------*/
 .icon-float {
     position: fixed;
     left: 0px;
     top: 35%;
     z-index: 999;
}
 .icon-float ul {
     padding: 0px;
}
 .icon-float ul li {
     list-style-type: none;
}
 .icon-float ul li a {
     display: block;
     -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
     -o-transition: all 0.5s ease;
     transition: all 0.5s ease;
     padding: 0px;
}
 .icon-float ul li a i {
     padding: 8px;
     width: 40px;
     height: 32px;
     text-align: center;
     color: #fff;
}
 .icon-float ul li a:hover {
     transform: rotateY(-180deg);
}
 .icon-float ul li a:hover i {
     transform: rotateY(180deg);
}
 .fb1 {
     background: #3b5998;
}
 .gp1 {
     background: #dd4b39;
}
 .tw1 {
     background: #1da1f2;
}
 .li1 {
     background: #0077b5;
}
 .yt1 {
     background: #cd201f;
}
 .wa1 {
     background: #34af23;
}
 .sh {
     background: #fff;
     padding: 10px 0px;
     font-size: 11px;
     text-align: center;
     color: #333;
     border-top-right-radius: 5px;
}
 .sh1 {
     background: #333;
     border-bottom-right-radius: 5px;
}
.fa-1x{
	font-size: 24px;
}
/*-------------------------------------------------------*/
/* Social icon When the browser is between 0px and 767px wide,below css will be applied.
/*-------------------------------------------------------*/

@media screen and (max-width: 767px) {
    .tb-space {
        padding: 75px 0px;
    }
    
    .icon-float ul li:nth-child(1) {
        display: none;
    }
    .icon-float {
        position: fixed;
        left: 0px;
        bottom: -1px;
        z-index: 999;
        top: inherit;
        width: 100%;
        background: #333;
    }
    .icon-float ul {
        padding: 0px;
    }
    .icon-float ul li {
        list-style-type: none;
        float: left;
        width: 16.5999%;
        text-align: center;
    }
    .icon-float ul li a {
        display: block;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        padding: 0px;
    }
    .icon-float ul li a i {
        padding: 8px;
        width: 40px;
        height: 32px;
        text-align: center;
        color: #fff;
    }
}
